Repository pyronear/pyro-api, changes with the labels that .github/labeler.yml gives for each.
All labels: ext: client/tests, ext: client/docs, ext: client, ext: tests, ext: scripts, module: core, module: database, module: schemas, module: models, module: services, module: crud, endpoint: cameras, endpoint: detections, endpoint: login, endpoint: users, topic: build, topic: migration, topic: ci, topic: docker, topic: docs, topic: style

.github/labeler.yml:

'ext: client/tests':
- changed-files:
  - any-glob-to-any-file: client/tests/*

'ext: client/docs':
- changed-files:
  - any-glob-to-any-file: client/docs/*

'ext: client':
- changed-files:
  - any-glob-to-any-file: client/pyroclient/*

'ext: tests':
- changed-files:
  - any-glob-to-any-file: src/tests/*

'ext: scripts':
- changed-files:
  - any-glob-to-any-file: scripts/*

'module: core':
- changed-files:
  - any-glob-to-any-file:
    - src/app/main.py
    - src/app/core/*

'module: database':
- changed-files:
  - any-glob-to-any-file: src/app/db.py

'module: schemas':
- changed-files:
  - any-glob-to-any-file: src/app/schemas/*

'module: models':
- changed-files:
  - any-glob-to-any-file: src/app/models.py

'module: services':
- changed-files:
  - any-glob-to-any-file: src/app/services/*

'module: crud':
- changed-files:
  - any-glob-to-any-file: src/app/crud/*

'endpoint: cameras':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/cameras.py

'endpoint: detections':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/detections.py

'endpoint: login':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/login.py

'endpoint: users':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/users.py


'topic: build':
- changed-files:
  - any-glob-to-any-file:
    - pyproject.toml
    - poetry.lock
    - client/pyproject.toml
    - client/setup.py

'topic: migration':
- changed-files:
  - any-glob-to-any-file:
    - src/alembic.ini
    - src/migrations/*

'topic: ci':
- changed-files:
  - any-glob-to-any-file: .github/*

'topic: docker':
- changed-files:
  - any-glob-to-any-file:
    - docker-compose.*
    - src/Dockerfile
    - .env.example

'topic: docs':
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - CONTRIBUTING.md
    - CODE_OF_CONDUCT.md
    - client/README.md
    - client/CONTRIBUTING.md

'topic: style':
- changed-files:
  - any-glob-to-any-file: .pre-commit-config.yaml

[skip ci] Documentation updates
  .doctrees/client.doctree
  .doctrees/environment.pickle
  _modules/pyroclient/client.html
  client.html
  genindex.html
  objects.inv
  searchindex.js
Labels: none

Deploying to gh-pages from @ pyronear/pyro-api@4e348179751846fd8b9093b2242dcd70e911d6ca 🚀
  .doctrees/environment.pickle
Labels: none

style(pre-commit): bump ruff
  .pre-commit-config.yaml
Labels: topic: style

Deploying to gh-pages from @ pyronear/pyro-api@3fa4f3f41abb3d59a7eea843f6caaddd47671c45 🚀
  .doctrees/environment.pickle
Labels: none

add timeout arg
  client/pyroclient/client.py
Labels: ext: client

style(pre-commmit): bump ruff to 0.4.9
  .pre-commit-config.yaml
Labels: topic: style

Deploying to gh-pages from @ pyronear/pyro-api@070ebf4482876d3f5c6674695d3d72dc598e9a5d 🚀
  .doctrees/environment.pickle
Labels: none

feat: first commit for Site table creation
  src/app/api/api_v1/endpoints/sites.py
  src/app/api/api_v1/router.py
  src/app/api/dependencies.py
  src/app/crud/__init__.py
  src/app/crud/crud_site.py
  src/app/models.py
  src/app/schemas/__init__.py
  src/app/schemas/cameras.py
  src/app/schemas/sites.py
  src/migrations/versions/2024_06_17_1521-4265426f8438_create_stes_table.py
  src/tests/endpoints/test_sites.py
Labels: module: schemas, module: models, module: crud

fix: error when launching backend
  Makefile
  src/app/api/api_v1/endpoints/sites.py
  src/app/crud/crud_site.py
  src/app/models.py
  src/app/schemas/sites.py
  src/tests/endpoints/test_sites.py
Labels: module: schemas, module: models, module: crud

fix: sites tests
  src/app/schemas/sites.py
  src/tests/endpoints/test_sites.py
Labels: module: schemas

fix mypy
  src/app/crud/base.py
  src/app/db.py
Labels: module: database, module: crud

fix tests
  src/tests/conftest.py
  src/tests/endpoints/test_cameras.py
Labels: ext: tests

fix: add site_id in user table
  src/migrations/versions/2024_06_17_1521-4265426f8438_create_stes_table.py
  src/tests/conftest.py
  src/tests/endpoints/test_users.py
Labels: ext: tests

feat: implement new security behavior using site_id
  src/app/api/api_v1/endpoints/cameras.py
  src/app/api/api_v1/endpoints/login.py
  src/app/db.py
  src/app/models.py
  src/app/schemas/login.py
  src/app/schemas/users.py
  src/tests/conftest.py
  src/tests/endpoints/test_cameras.py
  src/tests/endpoints/test_detections.py
  src/tests/endpoints/test_sites.py
  src/tests/endpoints/test_users.py
Labels: ext: tests, module: database, module: schemas, module: models, endpoint: cameras, endpoint: login

feat : add CRUD endpoints for the site path + tests
  .env.example
  .github/workflows/builds.yml
  CONTRIBUTING.md
  client/tests/conftest.py
  docker-compose.dev.yml
  docker-compose.yml
  src/app/api/api_v1/endpoints/cameras.py
  src/app/api/api_v1/endpoints/sites.py
  src/app/core/config.py
  src/app/db.py
  src/tests/conftest.py
  src/tests/endpoints/test_sites.py
Labels: ext: client/tests, ext: tests, module: core, module: database, endpoint: cameras, topic: docker, topic: docs

refactor: Site -> Organization
  .env.example
  .github/workflows/builds.yml
  CONTRIBUTING.md
  client/README.md
  client/tests/conftest.py
  docker-compose.dev.yml
  docker-compose.yml
  src/app/api/api_v1/endpoints/cameras.py
  src/app/api/api_v1/endpoints/login.py
  src/app/api/api_v1/endpoints/organizations.py
  src/app/api/api_v1/endpoints/sites.py
  src/app/api/api_v1/router.py
  src/app/api/dependencies.py
  src/app/core/config.py
  src/app/crud/__init__.py
  src/app/crud/crud_organization.py
  src/app/db.py
  src/app/models.py
  src/app/schemas/__init__.py
  src/app/schemas/cameras.py
  src/app/schemas/login.py
  src/app/schemas/organizations.py
  src/app/schemas/users.py
  src/migrations/versions/2024_06_17_1521-4265426f8438_create_stes_table.py
  src/tests/conftest.py
  src/tests/endpoints/test_cameras.py
  src/tests/endpoints/test_detections.py
  src/tests/endpoints/test_organizations.py
  src/tests/endpoints/test_users.py
Labels: ext: client/tests, ext: tests, module: core, module: database, module: schemas, module: models, module: crud, endpoint: cameras, endpoint: login, topic: docker, topic: docs

feat: refactor security behavior
  src/app/api/api_v1/endpoints/cameras.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/api/api_v1/endpoints/organizations.py
  src/tests/endpoints/test_cameras.py
  src/tests/endpoints/test_detections.py
Labels: endpoint: cameras, endpoint: detections

feat: fix tests
  src/app/api/api_v1/endpoints/detections.py
  src/tests/endpoints/test_login.py
  src/tests/endpoints/test_users.py
  src/tests/test_dependencies.py
Labels: ext: tests, endpoint: detections

fix e2e tests
  Makefile
  client/pyroclient/__init__.py
  client/pyroclient/client.py
  scripts/test_e2e.py
  src/app/api/api_v1/endpoints/users.py
  src/app/crud/base.py
  src/app/schemas/users.py
  src/migrations/versions/2024_06_17_1521-4265426f8438_create_stes_table.py
Labels: ext: client, ext: scripts, module: schemas, module: crud, endpoint: users

fix client tests
  Makefile
  client/tests/conftest.py
Labels: ext: client/tests

fix "role" column
  src/app/db.py
  src/migrations/versions/2024_06_17_1521-4265426f8438_create_stes_table.py
Labels: module: database

style(pre-commit): bump ruff to 0.4.10
  .pre-commit-config.yaml
Labels: topic: style

Deploying to gh-pages from @ pyronear/pyro-api@10a5a943b992b5e749f93c8e5c2381b0c15910c2 🚀
  .doctrees/environment.pickle
Labels: none

fix: remove useless security in case of create_detection
  src/app/api/api_v1/endpoints/detections.py
Labels: endpoint: detections

feat: add Wildfire table
  src/app/api/api_v1/endpoints/wildfires.py
  src/app/api/api_v1/router.py
  src/app/api/dependencies.py
  src/app/crud/__init__.py
  src/app/crud/crud_wildfire.py
  src/app/models.py
  src/app/schemas/__init__.py
  src/app/schemas/wildfires.py
  src/migrations/versions/2024_06_17_1521-4265426f8438_create_stes_table.py
  src/migrations/versions/2024_06_24_1110-77abcf481de4_create_wildifre_table.py
Labels: module: schemas, module: models, module: crud

feat: add Wildfires table and tests
  src/app/api/api_v1/endpoints/wildfires.py
  src/app/crud/base.py
  src/app/crud/crud_user.py
  src/app/crud/crud_wildfire.py
  src/app/models.py
  src/app/schemas/wildfires.py
  src/tests/conftest.py
  src/tests/endpoints/test_wildfires.py
Labels: ext: tests, module: schemas, module: models, module: crud

fix: add automatic creation of Wilfires
  scripts/test_e2e.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/core/config.py
  src/app/crud/crud_wildfire.py
  src/app/models.py
  src/app/schemas/detections.py
  src/app/schemas/wildfires.py
  src/migrations/versions/2024_06_24_1110-77abcf481de4_create_wildifre_table.py
  src/tests/conftest.py
  src/tests/endpoints/test_detections.py
  src/tests/endpoints/test_wildfires.py
Labels: ext: tests, ext: scripts, module: core, module: schemas, module: models, module: crud, endpoint: detections

Feat: we should not upsert closed wilfire
  src/app/api/api_v1/endpoints/wildfires.py
Labels: none

feat: use a bucket per organiztion
  .env.example
  CONTRIBUTING.md
  docker-compose.dev.yml
  docker-compose.yml
  scripts/localstack/setup-s3.sh
  scripts/test_e2e.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/core/config.py
  src/app/services/storage.py
  src/tests/conftest.py
Labels: ext: tests, ext: scripts, module: core, module: services, endpoint: detections, topic: docker, topic: docs

fix headers error
  src/app/crud/crud_wildfire.py
Labels: module: crud

feat: update diagramme
  scripts/dbdiagram.txt
Labels: ext: scripts

fix: some errors
  client/pyroclient/client.py
  client/tests/conftest.py
  src/app/api/api_v1/endpoints/cameras.py
Labels: ext: client/tests, ext: client, endpoint: cameras

style(pre-commit): bump ruff to 0.5.0
  .pre-commit-config.yaml
Labels: topic: style

style(ruff): update exceptions on tests & scripts
  pyproject.toml
Labels: topic: build

Deploying to gh-pages from @ pyronear/pyro-api@dcd5ea057f5a8c203369165a85c736b7e11029ff 🚀
  .doctrees/environment.pickle
Labels: none

build(deps): bump requests from 2.31.0 to 2.32.0
  poetry.lock
  pyproject.toml
Labels: topic: build

build(deps): bump idna to 3.7
  poetry.lock
Labels: topic: build

build(deps): bump requests & idna to security compliant versions (#338)
  poetry.lock
  pyproject.toml
Labels: topic: build

Deploying to gh-pages from @ pyronear/pyro-api@2698768352feb938a2790cd7b13f6f8a9f898690 🚀
  .doctrees/environment.pickle
Labels: none

build(deps): bump urllib3 from 1.26.18 to 1.26.19
  poetry.lock
Labels: topic: build
