Repository pyronear/pyro-api, changes with the labels that .github/labeler.yml gives for each.
All labels: ext: client/tests, ext: client/docs, ext: client, ext: tests, ext: scripts, module: core, module: database, module: schemas, module: models, module: services, module: crud, endpoint: cameras, endpoint: detections, endpoint: login, endpoint: users, topic: build, topic: migration, topic: ci, topic: docker, topic: docs, topic: style

build(deps): bump urllib3 from 1.26.18 to 1.26.19 (#339)
  poetry.lock
Labels: topic: build

Deploying to gh-pages from @ pyronear/pyro-api@ecaf7ae32aa8f4abc9d573c9a4c91831178e202d 🚀
  .doctrees/environment.pickle
Labels: none

fix: resolve first comments
  .env.example
  .github/workflows/builds.yml
  CONTRIBUTING.md
  Makefile
  client/pyroclient/client.py
  client/tests/conftest.py
  docker-compose.dev.yml
  docker-compose.yml
  src/app/api/api_v1/endpoints/detections.py
  src/app/api/api_v1/endpoints/organizations.py
  src/app/core/config.py
  src/app/crud/base.py
  src/app/db.py
  src/app/models.py
  src/app/schemas/organizations.py
  src/migrations/versions/2024_06_17_1521-4265426f8438_create_stes_table.py
  src/tests/conftest.py
  src/tests/endpoints/test_organizations.py
Labels: ext: client/tests, ext: client, ext: tests, module: core, module: database, module: schemas, module: models, module: crud, endpoint: detections, topic: docker, topic: docs

fix error in detection endpoint
  client/README.md
  client/tests/conftest.py
  src/app/api/api_v1/endpoints/detections.py
Labels: ext: client/tests, endpoint: detections, topic: docs

clean up
  src/app/crud/base.py
  src/app/crud/crud_user.py
Labels: module: crud

feat: add acknowledged endpoint
  client/pyroclient/client.py
  client/tests/test_client.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/models.py
  src/app/schemas/detections.py
  src/migrations/versions/2024_05_30_1200-f84a0ed81bdc_init.py
  src/tests/conftest.py
  src/tests/endpoints/test_detections.py
Labels: ext: client/tests, ext: client, ext: tests, module: schemas, module: models, endpoint: detections

feat: no need to have warning level of error
  src/app/api/api_v1/endpoints/detections.py
Labels: endpoint: detections

feat: use is_wildfire instead of a new boolean
  client/pyroclient/client.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/models.py
  src/app/schemas/detections.py
  src/migrations/versions/2024_05_30_1200-f84a0ed81bdc_init.py
  src/migrations/versions/2024_06_17_1521-4265426f8438_create_stes_table.py
  src/tests/conftest.py
  src/tests/endpoints/test_detections.py
Labels: ext: client, ext: tests, module: schemas, module: models, endpoint: detections

feat: add localization in Detection table
  src/app/models.py
  src/migrations/versions/2024_05_30_1200-f84a0ed81bdc_init.py
  src/tests/conftest.py
  src/tests/endpoints/test_detections.py
Labels: ext: tests, module: models

fix: forgot update client function for bbox
  client/pyroclient/client.py
Labels: ext: client

fix: many errors in localization usage
  client/pyroclient/client.py
  client/tests/test_client.py
  scripts/test_e2e.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/models.py
  src/app/schemas/detections.py
  src/tests/conftest.py
  src/tests/endpoints/test_detections.py
Labels: ext: client/tests, ext: client, ext: tests, ext: scripts, module: schemas, module: models, endpoint: detections

feat: use a bucket per organiztion
  .env.example
  CONTRIBUTING.md
  docker-compose.dev.yml
  docker-compose.yml
  scripts/localstack/setup-s3.sh
  src/app/api/api_v1/endpoints/detections.py
  src/app/core/config.py
  src/app/services/storage.py
  src/tests/conftest.py
Labels: ext: tests, module: core, module: services, endpoint: detections, topic: docker, topic: docs

fix: some errors
  client/pyroclient/client.py
  src/app/api/api_v1/endpoints/cameras.py
Labels: ext: client, endpoint: cameras

feat: update diagramme
  scripts/dbdiagram.txt
Labels: ext: scripts

feat: use id instead of name for bucket_name
  scripts/localstack/setup-s3.sh
  src/app/api/api_v1/endpoints/detections.py
Labels: endpoint: detections

fix miss function params
  src/app/api/api_v1/endpoints/detections.py
  src/tests/conftest.py
Labels: ext: tests, endpoint: detections

fix the diagramm
  scripts/dbdiagram.txt
Labels: ext: scripts

feat: automatic creation of the S3 bucket
  scripts/localstack/setup-s3.sh
  src/app/api/api_v1/endpoints/detections.py
  src/app/services/storage.py
Labels: module: services, endpoint: detections

fix: linting
  src/app/api/api_v1/endpoints/detections.py
Labels: endpoint: detections

feat: better management of the Admin use case
  src/app/api/api_v1/endpoints/detections.py
  src/app/services/storage.py
Labels: module: services, endpoint: detections

take feedback into account
  Makefile
  client/README.md
  client/docs/source/conf.py
  client/pyroclient/client.py
  client/pyroclient/exceptions.py
  client/setup.py
  scripts/test_e2e.py
  src/app/api/api_v1/endpoints/cameras.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/api/api_v1/endpoints/login.py
  src/app/api/api_v1/endpoints/users.py
  src/app/main.py
  src/app/schemas/base.py
  src/app/schemas/cameras.py
  src/app/schemas/detections.py
  src/app/schemas/login.py
  src/app/schemas/organizations.py
  src/app/schemas/users.py
  src/tests/endpoints/test_organizations.py
Labels: ext: client, ext: scripts, module: core, module: schemas, endpoint: cameras, endpoint: detections, endpoint: login, endpoint: users, topic: build, topic: docs

feat: add crud function to avoid for loop
  src/app/api/api_v1/endpoints/detections.py
  src/app/crud/base.py
Labels: module: crud, endpoint: detections

feedback PR
  client/pyroclient/client.py
  client/pyroclient/exceptions.py
  client/setup.py
  scripts/test_e2e.py
  src/app/api/api_v1/endpoints/cameras.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/api/api_v1/endpoints/login.py
  src/app/api/api_v1/endpoints/users.py
  src/app/crud/base.py
  src/app/main.py
  src/app/schemas/base.py
  src/app/schemas/cameras.py
  src/app/schemas/detections.py
  src/app/schemas/login.py
  src/app/schemas/users.py
Labels: ext: client, ext: scripts, module: core, module: schemas, module: crud, endpoint: cameras, endpoint: detections, endpoint: login, endpoint: users, topic: build

feat(storage): make S3 URL expiration customizable
  src/app/core/config.py
  src/app/services/storage.py
Labels: module: core, module: services

feat(config): make URL expiration an env var
  src/app/core/config.py
Labels: module: core

test(storage): add test cases
  src/tests/services/test_storage.py
Labels: none

style(pre-commit): bump ruff to 0.5.1
  .pre-commit-config.yaml
Labels: topic: style

style(test): fix lint
  src/tests/endpoints/test_cameras.py
  src/tests/endpoints/test_detections.py
  src/tests/endpoints/test_login.py
  src/tests/endpoints/test_users.py
Labels: none

style(test): ignore asyncsession warning
  src/tests/conftest.py
Labels: ext: tests

Deploying to gh-pages from @ pyronear/pyro-api@29b7f6c7d7e7449f3be920f526ac11b28d33072d 🚀
  .doctrees/environment.pickle
Labels: none

style(src): fix type annotations
  src/app/crud/base.py
  src/app/db.py
Labels: module: database, module: crud

style(src): fix mypy warnings (#344)
  src/app/crud/base.py
  src/app/db.py
Labels: module: database, module: crud

Deploying to gh-pages from @ pyronear/pyro-api@519974523304f93d4a66f99eb4442bcd90e194d0 🚀
  .doctrees/environment.pickle
Labels: none

style(test): remove legacy import
  src/tests/services/test_storage.py
Labels: none

fix(config): fix type casting
  src/app/core/config.py
Labels: module: core

fix lint
  client/pyroclient/exceptions.py
Labels: ext: client

feat(storage): make S3 URL expiration customizable (#345)
  src/app/core/config.py
  src/app/services/storage.py
  src/tests/services/test_storage.py
Labels: module: core, module: services

Deploying to gh-pages from @ pyronear/pyro-api@2dcab5b04a3057120624af393951aa6163f54307 🚀
  .doctrees/environment.pickle
Labels: none

fix linting
  src/app/db.py
  src/tests/endpoints/test_organizations.py
Labels: module: database

feat: add acknowledged endpoint
  client/pyroclient/client.py
  client/tests/test_client.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/models.py
  src/app/schemas/detections.py
  src/migrations/versions/2024_05_30_1200-f84a0ed81bdc_init.py
  src/tests/conftest.py
  src/tests/endpoints/test_detections.py
Labels: ext: client/tests, ext: client, ext: tests, module: schemas, module: models, endpoint: detections

.github/labeler.yml:

'ext: client/tests':
- changed-files:
  - any-glob-to-any-file: client/tests/*

'ext: client/docs':
- changed-files:
  - any-glob-to-any-file: client/docs/*

'ext: client':
- changed-files:
  - any-glob-to-any-file: client/pyroclient/*

'ext: tests':
- changed-files:
  - any-glob-to-any-file: src/tests/*

'ext: scripts':
- changed-files:
  - any-glob-to-any-file: scripts/*

'module: core':
- changed-files:
  - any-glob-to-any-file:
    - src/app/main.py
    - src/app/core/*

'module: database':
- changed-files:
  - any-glob-to-any-file: src/app/db.py

'module: schemas':
- changed-files:
  - any-glob-to-any-file: src/app/schemas/*

'module: models':
- changed-files:
  - any-glob-to-any-file: src/app/models.py

'module: services':
- changed-files:
  - any-glob-to-any-file: src/app/services/*

'module: crud':
- changed-files:
  - any-glob-to-any-file: src/app/crud/*

'endpoint: cameras':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/cameras.py

'endpoint: detections':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/detections.py

'endpoint: login':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/login.py

'endpoint: users':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/users.py


'topic: build':
- changed-files:
  - any-glob-to-any-file:
    - pyproject.toml
    - poetry.lock
    - client/pyproject.toml
    - client/setup.py

'topic: migration':
- changed-files:
  - any-glob-to-any-file:
    - src/alembic.ini
    - src/migrations/*

'topic: ci':
- changed-files:
  - any-glob-to-any-file: .github/*

'topic: docker':
- changed-files:
  - any-glob-to-any-file:
    - docker-compose.*
    - src/Dockerfile
    - .env.example

'topic: docs':
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - CONTRIBUTING.md
    - CODE_OF_CONDUCT.md
    - client/README.md
    - client/CONTRIBUTING.md

'topic: style':
- changed-files:
  - any-glob-to-any-file: .pre-commit-config.yaml
