Repository pyronear/pyro-api, changes with the labels that .github/labeler.yml gives for each.
All labels: ext: client/tests, ext: client/docs, ext: client, ext: tests, ext: scripts, module: core, module: database, module: schemas, module: models, module: services, module: crud, endpoint: cameras, endpoint: detections, endpoint: login, endpoint: users, topic: build, topic: migration, topic: ci, topic: docker, topic: docs, topic: style

fix: rm Exception
  src/app/api/api_v1/endpoints/detections.py
Labels: endpoint: detections

refactor fetch_all crud
  src/app/api/api_v1/endpoints/detections.py
  src/app/crud/base.py
Labels: module: crud, endpoint: detections

feat: no need to have warning level of error
  src/app/api/api_v1/endpoints/detections.py
Labels: endpoint: detections

fix mypy
  client/pyroclient/client.py
  src/app/api/api_v1/endpoints/detections.py
  src/tests/endpoints/test_detections.py
Labels: ext: client, endpoint: detections

feat: use is_wildfire instead of a new boolean
  client/pyroclient/client.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/models.py
  src/app/schemas/detections.py
  src/migrations/versions/2024_05_30_1200-f84a0ed81bdc_init.py
  src/migrations/versions/2024_06_17_1521-4265426f8438_create_stes_table.py
  src/tests/conftest.py
  src/tests/endpoints/test_detections.py
Labels: ext: client, ext: tests, module: schemas, module: models, endpoint: detections

feat: start implemnting new payload from_date
  client/pyroclient/client.py
  client/tests/test_client.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/schemas/detections.py
  src/tests/endpoints/test_detections.py
Labels: ext: client/tests, ext: client, module: schemas, endpoint: detections

fir error date -> datetime
  src/app/schemas/detections.py
Labels: module: schemas

fix unlabeled endpoints
  client/pyroclient/client.py
  client/tests/test_client.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/schemas/detections.py
  src/tests/endpoints/test_detections.py
Labels: ext: client/tests, ext: client, module: schemas, endpoint: detections

fix: many errors in localization usage
  client/pyroclient/client.py
  client/tests/test_client.py
  scripts/test_e2e.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/models.py
  src/app/schemas/detections.py
  src/tests/conftest.py
  src/tests/endpoints/test_detections.py
Labels: ext: client/tests, ext: client, ext: tests, ext: scripts, module: schemas, module: models, endpoint: detections

refactor: rm Optional
  client/pyroclient/client.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/models.py
  src/app/schemas/detections.py
Labels: ext: client, module: schemas, module: models, endpoint: detections

fix: forgot update client function for bbox
  client/pyroclient/client.py
Labels: ext: client

feat: rm Exception as e
  src/app/api/api_v1/endpoints/detections.py
Labels: endpoint: detections

feat: add localization in Detection table
  src/app/models.py
  src/migrations/versions/2024_05_30_1200-f84a0ed81bdc_init.py
  src/tests/conftest.py
  src/tests/endpoints/test_detections.py
Labels: ext: tests, module: models

fix: style
  src/app/api/api_v1/endpoints/detections.py
  src/app/schemas/detections.py
Labels: module: schemas, endpoint: detections

localization can be equal to []
  src/app/api/api_v1/endpoints/detections.py
Labels: endpoint: detections

feat: add regexp
  src/app/api/api_v1/endpoints/detections.py
  src/tests/conftest.py
Labels: ext: tests, endpoint: detections

fix error after rebase
  src/app/api/api_v1/endpoints/detections.py
  src/tests/endpoints/test_detections.py
Labels: endpoint: detections

fix: many errors in localization usage
  client/pyroclient/client.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/schemas/detections.py
  src/tests/endpoints/test_detections.py
Labels: ext: client, module: schemas, endpoint: detections

refactor: rm Optional
  src/app/schemas/detections.py
Labels: module: schemas

fix: style
  src/app/schemas/detections.py
Labels: module: schemas

feat: add regexp
  src/app/api/api_v1/endpoints/detections.py
Labels: endpoint: detections

feat: add localization in Detection table
  src/tests/endpoints/test_detections.py
Labels: none

fix: many errors in localization usage
  src/tests/endpoints/test_detections.py
Labels: none

fix: many errors in localization usage
  src/app/api/api_v1/endpoints/detections.py
Labels: endpoint: detections

feat: update diagramme
  scripts/dbdiagram.txt
Labels: ext: scripts

fix: some errors
  client/pyroclient/client.py
Labels: ext: client

feat: use a bucket per organiztion
  .env.example
  CONTRIBUTING.md
  docker-compose.dev.yml
  docker-compose.yml
  scripts/localstack/setup-s3.sh
  src/app/api/api_v1/endpoints/detections.py
  src/app/core/config.py
  src/app/services/storage.py
  src/tests/conftest.py
Labels: ext: tests, module: core, module: services, endpoint: detections, topic: docker, topic: docs

feat: use id instead of name for bucket_name
  scripts/localstack/setup-s3.sh
  src/app/api/api_v1/endpoints/detections.py
Labels: endpoint: detections

fix miss function params
  src/app/api/api_v1/endpoints/detections.py
  src/tests/conftest.py
Labels: ext: tests, endpoint: detections

feat: automatic creation of the S3 bucket
  scripts/localstack/setup-s3.sh
  src/app/services/storage.py
Labels: module: services

fix the diagramm
  scripts/dbdiagram.txt
Labels: ext: scripts

fix: linting
  src/app/api/api_v1/endpoints/detections.py
Labels: endpoint: detections

fix after merge
  scripts/dbdiagram.txt
  src/app/api/api_v1/endpoints/detections.py
Labels: ext: scripts, endpoint: detections

fix lint
  src/app/api/api_v1/endpoints/detections.py
Labels: endpoint: detections

use global var for admin name
  docker-compose.dev.yml
  src/app/services/storage.py
Labels: module: services, topic: docker

some fixes after rebase
  client/pyroclient/client.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/services/storage.py
Labels: ext: client, module: services, endpoint: detections

fix: don't create bucket in Dection, better in Organization
  src/app/api/api_v1/endpoints/detections.py
  src/app/api/api_v1/endpoints/organizations.py
  src/app/services/storage.py
Labels: module: services, endpoint: detections

fix error when using ADMIN scope
  scripts/localstack/setup-s3.sh
  src/app/api/api_v1/endpoints/detections.py
  src/app/api/api_v1/endpoints/organizations.py
Labels: endpoint: detections

fix test storage
  src/app/api/api_v1/endpoints/detections.py
  src/tests/endpoints/test_detections.py
  src/tests/services/test_storage.py
Labels: endpoint: detections

feat(models): add an organization table (#332)
  .env.example
  .github/workflows/builds.yml
  CONTRIBUTING.md
  Makefile
  client/README.md
  client/docs/source/conf.py
  client/pyroclient/__init__.py
  client/pyroclient/client.py
  client/tests/conftest.py
  docker-compose.dev.yml
  docker-compose.yml
  scripts/test_e2e.py
  src/app/api/api_v1/endpoints/cameras.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/api/api_v1/endpoints/login.py
  src/app/api/api_v1/endpoints/organizations.py
  src/app/api/api_v1/endpoints/users.py
  src/app/api/api_v1/router.py
  src/app/api/dependencies.py
  src/app/core/config.py
  src/app/crud/__init__.py
  src/app/crud/base.py
  src/app/crud/crud_organization.py
  src/app/db.py
  src/app/models.py
  src/app/schemas/__init__.py
  src/app/schemas/cameras.py
  src/app/schemas/login.py
  src/app/schemas/organizations.py
  src/app/schemas/users.py
  src/migrations/versions/2024_06_17_1521-4265426f8438_create_stes_table.py
  src/tests/conftest.py
  src/tests/endpoints/test_cameras.py
  src/tests/endpoints/test_detections.py
  src/tests/endpoints/test_login.py
  src/tests/endpoints/test_organizations.py
  src/tests/endpoints/test_users.py
  src/tests/test_dependencies.py
Labels: ext: client/tests, ext: client, ext: tests, ext: scripts, module: core, module: database, module: schemas, module: models, module: crud, endpoint: cameras, endpoint: detections, endpoint: login, endpoint: users, topic: docker, topic: docs

.github/labeler.yml:

'ext: client/tests':
- changed-files:
  - any-glob-to-any-file: client/tests/*

'ext: client/docs':
- changed-files:
  - any-glob-to-any-file: client/docs/*

'ext: client':
- changed-files:
  - any-glob-to-any-file: client/pyroclient/*

'ext: tests':
- changed-files:
  - any-glob-to-any-file: src/tests/*

'ext: scripts':
- changed-files:
  - any-glob-to-any-file: scripts/*

'module: core':
- changed-files:
  - any-glob-to-any-file:
    - src/app/main.py
    - src/app/core/*

'module: database':
- changed-files:
  - any-glob-to-any-file: src/app/db.py

'module: schemas':
- changed-files:
  - any-glob-to-any-file: src/app/schemas/*

'module: models':
- changed-files:
  - any-glob-to-any-file: src/app/models.py

'module: services':
- changed-files:
  - any-glob-to-any-file: src/app/services/*

'module: crud':
- changed-files:
  - any-glob-to-any-file: src/app/crud/*

'endpoint: cameras':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/cameras.py

'endpoint: detections':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/detections.py

'endpoint: login':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/login.py

'endpoint: users':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/users.py


'topic: build':
- changed-files:
  - any-glob-to-any-file:
    - pyproject.toml
    - poetry.lock
    - client/pyproject.toml
    - client/setup.py

'topic: migration':
- changed-files:
  - any-glob-to-any-file:
    - src/alembic.ini
    - src/migrations/*

'topic: ci':
- changed-files:
  - any-glob-to-any-file: .github/*

'topic: docker':
- changed-files:
  - any-glob-to-any-file:
    - docker-compose.*
    - src/Dockerfile
    - .env.example

'topic: docs':
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - CONTRIBUTING.md
    - CODE_OF_CONDUCT.md
    - client/README.md
    - client/CONTRIBUTING.md

'topic: style':
- changed-files:
  - any-glob-to-any-file: .pre-commit-config.yaml
