Repository pyronear/pyro-api, changes with the labels that .github/labeler.yml gives for each.
All labels: ext: client/tests, ext: client/docs, ext: client, ext: tests, ext: scripts, module: core, module: database, module: schemas, module: models, module: services, module: crud, endpoint: cameras, endpoint: detections, endpoint: login, endpoint: users, endpoint: organizations, endpoint: webhooks, topic: build, topic: migration, topic: ci, topic: docker, topic: docs, topic: style

Deploying to gh-pages from @ pyronear/pyro-api@5ed718e806d92e1677b6f04c7da7559a55d62197 🚀
  .doctrees/environment.pickle
Labels: none

feat(cameras): add route to update last image
  src/app/api/api_v1/endpoints/cameras.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/models.py
  src/app/schemas/cameras.py
  src/app/services/storage.py
Labels: module: schemas, module: models, module: services, endpoint: cameras, endpoint: detections

test(cameras): update backend tests
  src/tests/conftest.py
  src/tests/endpoints/test_cameras.py
Labels: ext: tests

feat(client): add update_last_image method
  client/pyroclient/client.py
  client/tests/test_client.py
Labels: ext: client/tests, ext: client

docs(uml): add new camera column
  scripts/dbdiagram.txt
Labels: ext: scripts, topic: docs

style(mypy): remove warnings
  pyproject.toml
Labels: topic: build

docs(contributing): update UML
  CONTRIBUTING.md
  scripts/dbdiagram.txt
Labels: ext: scripts, topic: docs

docs(contributing): update contirbuting
  CONTRIBUTING.md
Labels: topic: docs

docs(contributing): remove iframe
  CONTRIBUTING.md
Labels: topic: docs

fix(models): fix table references
  src/app/models.py
Labels: module: models

test(confest): fix DB initialization
  src/tests/conftest.py
Labels: ext: tests

test(cameras): fix test cases
  src/tests/endpoints/test_cameras.py
Labels: none

style(tests): fix lint
  src/tests/endpoints/test_cameras.py
Labels: none

feat(cameras): add a route to update the last known image of a camera (#371)
  CONTRIBUTING.md
  client/pyroclient/client.py
  client/tests/test_client.py
  pyproject.toml
  scripts/dbdiagram.txt
  src/app/api/api_v1/endpoints/cameras.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/models.py
  src/app/schemas/cameras.py
  src/app/services/storage.py
  src/tests/conftest.py
  src/tests/endpoints/test_cameras.py
Labels: ext: client/tests, ext: client, ext: tests, ext: scripts, module: schemas, module: models, module: services, endpoint: cameras, endpoint: detections, topic: build, topic: docs

Deploying to gh-pages from @ pyronear/pyro-api@8116fda6ca131daed19f39dca1a555eaa21e4c3f 🚀
  .doctrees/client.doctree
  .doctrees/environment.pickle
  _modules/pyroclient/client.html
  client.html
  genindex.html
  objects.inv
  searchindex.js
Labels: none

ci(push): fix continuous deployment
  .github/workflows/push.yml
Labels: none

ci(push): fix continuous deployment (#372)
  .github/workflows/push.yml
Labels: none

Deploying to gh-pages from @ pyronear/pyro-api@db5a81a1eceecc30da6ec4d9bf9c211943cd5f5c 🚀
  .doctrees/environment.pickle
Labels: none

.github/labeler.yml:

'ext: client/tests':
- changed-files:
  - any-glob-to-any-file: client/tests/*

'ext: client/docs':
- changed-files:
  - any-glob-to-any-file: client/docs/*

'ext: client':
- changed-files:
  - any-glob-to-any-file: client/pyroclient/*

'ext: tests':
- changed-files:
  - any-glob-to-any-file: src/tests/*

'ext: scripts':
- changed-files:
  - any-glob-to-any-file: scripts/*

'module: core':
- changed-files:
  - any-glob-to-any-file:
    - src/app/main.py
    - src/app/core/*

'module: database':
- changed-files:
  - any-glob-to-any-file: src/app/db.py

'module: schemas':
- changed-files:
  - any-glob-to-any-file: src/app/schemas/*

'module: models':
- changed-files:
  - any-glob-to-any-file: src/app/models.py

'module: services':
- changed-files:
  - any-glob-to-any-file: src/app/services/*

'module: crud':
- changed-files:
  - any-glob-to-any-file: src/app/crud/base.py

'endpoint: cameras':
- changed-files:
  - any-glob-to-any-file:
    - src/app/api/*/endpoints/cameras.py
    - src/app/crud/cameras.py

'endpoint: detections':
- changed-files:
  - any-glob-to-any-file:
    - src/app/api/*/endpoints/detections.py
    - src/app/crud/detections.py

'endpoint: login':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/login.py

'endpoint: users':
- changed-files:
  - any-glob-to-any-file:
    - src/app/api/*/endpoints/users.py
    - src/app/crud/users.py

'endpoint: organizations':
- changed-files:
  - any-glob-to-any-file:
    - src/app/api/*/endpoints/organizations.py
    - src/app/crud/organizations.py

'endpoint: webhooks':
- changed-files:
  - any-glob-to-any-file:
    - src/app/api/*/endpoints/webhooks.py
    - src/app/crud/webhooks.py


'topic: build':
- changed-files:
  - any-glob-to-any-file:
    - pyproject.toml
    - poetry.lock
    - client/pyproject.toml
    - client/setup.py

'topic: migration':
- changed-files:
  - any-glob-to-any-file:
    - src/alembic.ini
    - src/migrations/*

'topic: ci':
- changed-files:
  - any-glob-to-any-file: .github/*

'topic: docker':
- changed-files:
  - any-glob-to-any-file:
    - docker-compose.*
    - src/Dockerfile
    - .env.example

'topic: docs':
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - CONTRIBUTING.md
    - CODE_OF_CONDUCT.md
    - client/README.md
    - client/CONTRIBUTING.md
    - scripts/dbdiagram.txt

'topic: style':
- changed-files:
  - any-glob-to-any-file: .pre-commit-config.yaml
