Repository pyronear/pyro-api, changes with the labels that .github/labeler.yml gives for each.
All labels: ext: client/tests, ext: client/docs, ext: client, ext: tests, module: database, module: services, route: accesses, route: alerts, route: devices, route: events, route: groups, route: installations, route: login, route: media, route: sites, route: users, route: webhooks, topic: build, topic: ci, topic: docker, topic: documentation, topic: nginx, topic: security

chore: Updated gitignore
  .gitignore
Labels: none

ci: Adds precommit
  .pre-commit-config.yaml
Labels: none

refactor: Removes legacy script
  .github/verify_labels.py
  .github/workflows/pr-labels.yml
Labels: topic: ci

style: Fixed lint
  CONTRIBUTING.md
  client/CONTRIBUTING.md
  nginx/nginx.conf
  src/.coveragerc
  src/Dockerfile-dev
  src/alembic/README.md
Labels: topic: docker, topic: documentation, topic: nginx

docs: Updates makefile
  Makefile
Labels: none

chore: Updates pyproject
  poetry.lock
  pyproject.toml
  src/app/requirements.txt
  src/requirements-dev.txt
Labels: topic: build

refactor: Removes heroku file
  Procfile
Labels: none

style: Fixed security warning
  scripts/api_e2e.py
Labels: none

style: Fixed bandit warning
  src/app/config.py
Labels: none

test: Fixed pytest fixtures
  src/tests/crud/test_authorizations.py
  src/tests/crud/test_group_resolution.py
Labels: none

chore: Reverts requirement changes
  src/app/requirements.txt
  src/requirements-dev.txt
Labels: topic: build

ci: Increases sleep before client test
  .github/workflows/tests.yml
Labels: none

style: Config mypy
  pyproject.toml
Labels: topic: build

style: Fixed mypy
  src/app/api/crud/accesses.py
  src/app/api/crud/base.py
  src/app/api/routes/alerts.py
  src/app/api/routes/events.py
  src/app/api/routes/installations.py
  src/app/api/routes/media.py
  src/app/api/routes/sites.py
  src/app/db/__init__.py
  src/app/db/init_db.py
  src/app/db/models.py
  src/app/db/session.py
Labels: module: database, route: accesses, route: alerts, route: events, route: installations, route: media, route: sites

style: Fixed typing
  src/app/api/external.py
Labels: none

style: Fixed typing
  src/app/api/crud/alerts.py
  src/app/api/crud/base.py
  src/app/api/crud/webhooks.py
  src/app/api/routes/alerts.py
  src/app/api/routes/devices.py
  src/app/api/routes/media.py
  src/app/api/routes/sites.py
  src/app/db/__init__.py
Labels: module: database, route: alerts, route: devices, route: media, route: sites, route: webhooks

ci: Increased client sleep
  .github/workflows/tests.yml
Labels: none

ci: Updates CI jobs
  .github/workflows/builds.yml
  .github/workflows/scripts.yml
Labels: none

ci: Fixed client test
  .github/workflows/tests.yml
Labels: none

ci: Adds debug for build
  .github/workflows/builds.yml
Labels: none

ci: Fixed CI job
  .github/workflows/tests.yml
Labels: none

chore: Updates requirements
  src/app/requirements.txt
  src/requirements-dev.txt
Labels: topic: build

docs: Silenced warnings of sqlalchemy
  docker-compose-dev.yml
  docker-compose.yml
Labels: topic: docker

test: Silenced httpx warnings
  src/tests/routes/test_alerts.py
  src/tests/routes/test_devices.py
  src/tests/routes/test_events.py
  src/tests/routes/test_groups.py
  src/tests/routes/test_installations.py
  src/tests/routes/test_media.py
  src/tests/routes/test_sites.py
  src/tests/routes/test_users.py
  src/tests/routes/test_webhooks.py
Labels: none

ci: Fixed mypy job
  .github/workflows/style.yml
Labels: none

.github/labeler.yml:

'ext: client/tests':
- client/tests/*

'ext: client/docs':
- client/docs/*

'ext: client':
- client/pyroclient/*

'ext: tests':
- src/tests/*

'module: database':
- src/app/db/*

'module: services':
- src/app/services/*

'route: accesses':
- src/app/api/routes/accesses.py
- src/app/api/crud/accesses.py

'route: alerts':
- src/app/api/routes/alerts.py
- src/app/api/crud/alerts.py

'route: devices':
- src/app/api/routes/devices.py

'route: events':
- src/app/api/routes/events.py

'route: groups':
- src/app/api/routes/groups.py
- src/app/api/crud/groups.py

'route: installations':
- src/app/api/routes/installations.py

'route: login':
- src/app/api/routes/login.py

'route: media':
- src/app/api/routes/media.py

'route: sites':
- src/app/api/routes/sites.py

'route: users':
- src/app/api/routes/users.py

'route: webhooks':
- src/app/api/routes/webhooks.py
- src/app/api/crud/webhooks.py

'topic: build':
- src/app/requirements.txt
- src/requirements-dev.txt
- pyproject.toml
- client/pyproject.toml
- client/setup.py

'topic: ci':
- .github/*

'topic: docker':
- docker-compose.yml
- docker-compose-dev.yml
- src/Dockerfile
- src/Dockerfile-dev

'topic: documentation':
- README.md
- CONTRIBUTING.md
- CODE_OF_CONDUCT.md
- client/README.md
- client/CONTRIBUTING.md

'topic: nginx':
- nginx/*

'topic: security':
- src/app/api/deps.py
- src/app/api/security.py
