Repository pyronear/pyro-api, pull requests merged in 2020-11, with the labels that each got.

#12 docs: Updated Contributing docs
  CONTRIBUTING.md
Labels: documentation

#11 chore: Updated CI cache manager version
  .github/workflows/main.yml
Labels: enhancement, topic: build

#13 style: Fixed codacy check issues
  src/app/api/crud.py
  src/app/api/routes/alerts.py
  src/app/api/routes/devices.py
  src/app/api/routes/events.py
  src/app/api/routes/installations.py
  src/app/api/routes/media.py
  src/app/api/routes/ping.py
  src/app/api/routes/sites.py
  src/app/api/routes/users.py
  src/app/api/routing.py
  src/app/api/schemas.py
  src/app/main.py
  src/tests/__init__.py
  src/tests/test_alerts.py
  src/tests/test_devices.py
  src/tests/test_events.py
  src/tests/test_installations.py
  src/tests/test_media.py
  src/tests/test_ping.py
  src/tests/test_sites.py
  src/tests/test_users.py
Labels: documentation, enhancement, route: alerts, route: authorization, route: devices, route: events, route: installations, route: media, route: sites, route: users

#10 refactor: Refactors CRUD, schemas and security for a cleaner interface
  src/app/api/crud.py
  src/app/api/deps.py
  src/app/api/routes/devices.py
  src/app/api/routes/login.py
  src/app/api/routes/users.py
  src/app/api/routing.py
  src/app/api/schemas.py
  src/app/api/security.py
  src/tests/conftest.py
  src/tests/test_alerts.py
  src/tests/test_devices.py
  src/tests/test_events.py
  src/tests/test_installations.py
  src/tests/test_login.py
  src/tests/test_media.py
  src/tests/test_sites.py
  src/tests/test_users.py
Labels: documentation, enhancement, route: devices, route: login, route: users

#15 feat: Added a password update route
  src/app/api/routes/users.py
  src/app/api/routing.py
  src/app/api/schemas.py
  src/tests/test_users.py
Labels: enhancement, route: users

#9 feat: Device route
  .gitignore
  README.md
  src/app/api/crud.py
  src/app/api/deps.py
  src/app/api/routes/accesses.py
  src/app/api/routes/devices.py
  src/app/api/routes/login.py
  src/app/api/routes/users.py
  src/app/api/routing.py
  src/app/api/schemas.py
  src/app/api/security.py
  src/app/config.py
  src/app/db.py
  src/app/main.py
  src/tests/conftest.py
  src/tests/test_accesses.py
  src/tests/test_devices.py
  src/tests/test_login.py
  src/tests/test_users.py
Labels: enhancement, route: devices

#19 feat: Added default example values to schemas
  src/app/api/schemas.py
Labels: enhancement

#22 refactor: Renamed repo
  .github/workflows/main.yml
  CONTRIBUTING.md
  README.md
  docker-compose.yml
Labels: documentation

#25 fix: Fixed the device update location
  src/app/api/routes/devices.py
Labels: bug, route: devices

#23 refactor: Refactored schemas
  src/app/api/routes/devices.py
  src/app/api/routing.py
  src/app/api/schemas.py
Labels: enhancement

#35 add min requirements
  requirements.txt
Labels: documentation, topic: build

#36 refactor: Refactored db module
  src/app/db/__init__.py
  src/app/db/session.py
  src/app/db/tables.py
Labels: enhancement

#39 fix: Fixed package versioning of databases
  requirements.txt
Labels: bug, topic: build

#33 test: Refactored codebase and updated route unittests to better reflect production cases
  requirements.txt
  src/app/api/crud.py
  src/app/api/deps.py
  src/app/api/routes/accesses.py
  src/app/api/routes/alerts.py
  src/app/api/routes/devices.py
  src/app/api/routes/events.py
  src/app/api/routes/installations.py
  src/app/api/routes/login.py
  src/app/api/routes/media.py
  src/app/api/routes/sites.py
  src/app/api/routes/users.py
  src/app/api/routing.py
  src/app/api/schemas.py
  src/app/api/security.py
  src/tests/conftest.py
  src/tests/test_accesses.py
  src/tests/test_alerts.py
  src/tests/test_devices.py
  src/tests/test_events.py
  src/tests/test_installations.py
  src/tests/test_login.py
  src/tests/test_media.py
  src/tests/test_security.py
  src/tests/test_sites.py
  src/tests/test_users.py
Labels: enhancement, route: accesses, route: alerts, route: devices, route: events, route: installations, route: login, route: media, route: sites, route: users

#38 [Docs] [sites] Add summary and description to sites routes
  src/app/api/routes/sites.py
Labels: documentation, route: sites

#41 [docs][media] Add summary and description to media routes
  src/app/api/routes/media.py
Labels: documentation, route: media

#42 refactor: Renamed users.username and devices.name fields
  src/app/api/routes/accesses.py
  src/app/api/routes/devices.py
  src/app/api/routes/users.py
  src/app/api/schemas.py
  src/app/db/tables.py
  src/tests/conftest.py
  src/tests/test_devices.py
  src/tests/test_users.py
Labels: enhancement, route: devices, route: users

#27 feat: Add super user
  docker-compose.yml
  src/app/config.py
  src/app/db/__init__.py
  src/app/db/init_db.py
  src/app/main.py
Labels: enhancement, route: accesses, route: login, route: users

#44 refactor: Added admin to authorized scopes of selfID routes
  src/app/api/routes/devices.py
  src/app/api/routes/users.py
Labels: bug, route: devices, route: users

#37 Changing query filters from list of tuples to dict
  src/app/api/crud.py
  src/app/api/deps.py
  src/app/api/routes/accesses.py
  src/app/api/routes/devices.py
  src/app/api/routes/login.py
  src/tests/conftest.py
  src/tests/test_deps.py
Labels: enhancement

#40 feat: Added a self update route for a device's location
  src/app/api/routes/devices.py
  src/tests/test_devices.py
Labels: enhancement, route: devices

#47 fix: Fixed DB initialization
  src/app/db/init_db.py
Labels: bug, high priority, topic: build

#43 Client side deployment
  client/README.md
  client/pyroclient/__init__.py
  client/pyroclient/client.py
  client/pyroclient/exceptions.py
  client/pyroclient/version.py
  client/requirements.txt
  client/setup.py
Labels: high priority, topic: client

#20 feat: Add media upload capability
  src/app/api/crud.py
  src/app/api/routes/alerts.py
  src/app/api/routes/media.py
  src/app/api/schemas.py
  src/app/config.py
  src/app/db/tables.py
  src/app/services/__init__.py
  src/app/services/bucket/__init__.py
  src/app/services/bucket/baseBucketService.py
  src/app/services/bucket/dummyBucketService.py
  src/app/services/services.py
  src/tests/test_alerts.py
  src/tests/test_media.py
  src/tests/test_services.py
Labels: high priority, route: media

#54 feat: Added country and geocode fields in the sites table
  src/app/api/schemas.py
  src/app/db/tables.py
  src/tests/test_sites.py
Labels: enhancement, high priority, route: sites

#52 [docs][events] Add summary and description to events routes
  src/app/api/routes/events.py
  src/app/api/routes/media.py
  src/app/api/routes/sites.py
Labels: documentation, route: events

#51 [init][config][bug] Add a warning/error to verify that DB is not init with None credentials
  src/app/config.py
Labels: bug, high priority, topic: build

#60 [doc][login] Add description to login route
  src/app/api/routes/login.py
Labels: documentation, question, route: login

#48 feat: Added CI job for client doc building & installation check
  .github/workflows/client-doc-deploy.yaml
  .github/workflows/client-gh-page.yaml
  .github/workflows/client-main.yml
  .github/workflows/main.yml
  .gitignore
  client/README.md
  client/docs/Makefile
  client/docs/make.bat
  client/docs/requirements.txt
  client/docs/source/_static/css/my_theme.css
  client/docs/source/_static/img/pyronear-logo-dark.png
  client/docs/source/client.rst
  client/docs/source/conf.py
  client/docs/source/index.rst
  client/docs/source/installing.rst
  client/pyroclient/__init__.py
  client/pyroclient/client.py
Labels: documentation, enhancement, topic: client

#57 Fix crud: types & update
  src/app/api/crud.py
  src/app/api/schemas.py
  src/tests/conftest.py
Labels: bug, enhancement

#64 [scopes][permissions] update permission condition from "and" to "or"
  src/app/api/deps.py
Labels: bug, high priority

#56 feat: Adding a route to list of devices on a site at a given time
  src/app/api/routes/installations.py
  src/app/api/schemas.py
Labels: high priority, route: installations

#62 Api client v0.1.0
  client/pyroclient/client.py
  requirements.txt
  src/app/api/crud.py
  src/app/api/routes/alerts.py
  src/app/api/routes/media.py
  src/app/api/schemas.py
  src/app/config.py
  src/app/services/bucket/baseBucketService.py
  src/app/services/bucket/dummyBucketService.py
  src/tests/test_alerts.py
Labels: high priority, route: alerts, route: installations, route: media

#66 chore: Updated version, added pypi & conda release publishing jobs
  .github/workflows/client-upload.yaml
  .gitignore
  client/.conda/meta.yaml
  client/LICENSE
  client/README.md
  client/pyroclient/version.py
  client/setup.cfg
  client/setup.py
  src/app/config.py
Labels: high priority, topic: build, topic: client

#69 fix: get_all_at_given_ts_and_site timestamp call
  src/app/api/routes/installations.py
Labels: bug, high priority, invalid, route: installations, topic: client

#68 [Refactor] Use test DB in unit Tests
  .gitignore
  requirements.txt
  src/tests/conf_test_db.py
  src/tests/conftest.py
  src/tests/test_users.py
Labels: enhancement, route: accesses, route: alerts, route: devices, route: events, route: installations, route: media, route: sites, route: users

#70 Refactor unit tests to use db
  docker-compose.yml
  src/app/api/routes/alerts.py
  src/app/api/routes/media.py
  src/app/config.py
  src/tests/conf_test_db.py
  src/tests/conftest.py
  src/tests/test_accesses.py
  src/tests/test_alerts.py
  src/tests/test_deps.py
  src/tests/test_devices.py
  src/tests/test_events.py
  src/tests/test_installations.py
  src/tests/test_login.py
  src/tests/test_media.py
  src/tests/test_services.py
  src/tests/test_sites.py
  src/tests/test_users.py
  src/tests/utils.py
Labels: documentation, route: accesses, route: alerts, route: devices, route: events, route: installations, route: login, route: media, route: sites, route: users, topic: build

#72 fix: Fixed route type on installations/site-devices
  src/app/api/routes/installations.py
Labels: enhancement, route: installations
