Repository pyronear/pyro-api, pull requests merged in 2020-12, with the labels that each got.

#80 feat: Added a route for a user to register her/his own device
  src/app/api/routes/devices.py
  src/app/api/schemas.py
  src/tests/test_devices.py
Labels: enhancement, route: devices

#58 [scopes][sites]Add admin scopes to CUD routes
  src/app/api/routes/sites.py
Labels: question, route: sites

#59 [scopes][events] Add scopes to CUD routes
  src/app/api/routes/events.py
Labels: enhancement, route: events

#73 chore: Removed mandatory test dependency installation
  .github/workflows/main.yml
  CONTRIBUTING.md
  Dockerfile
  requirements.txt
  src/requirements-dev.txt
Labels: enhancement, topic: build

#77 Add missing client routes
  client/README.md
  client/pyroclient/client.py
  src/app/api/routes/alerts.py
Labels: documentation, enhancement, high priority, route: alerts, route: devices, route: media

#78 [docs] Add route description and summary to remaining routes
  src/app/api/routes/accesses.py
  src/app/api/routes/alerts.py
  src/app/api/routes/devices.py
  src/app/api/routes/installations.py
  src/app/api/routes/users.py
Labels: documentation, route: accesses, route: alerts, route: devices, route: installations, route: users

#76 feat: Ensures related access is deleted after user/device deletion
  src/app/api/routes/devices.py
  src/app/api/routes/users.py
  src/app/db/tables.py
  src/tests/conftest.py
  src/tests/test_alerts.py
  src/tests/test_devices.py
  src/tests/test_media.py
  src/tests/test_users.py
Labels: bug, route: accesses, route: devices, route: users

#81 fix: Fixed installations/site-devices route
  src/app/api/routes/installations.py
  src/app/api/schemas.py
  src/app/db/tables.py
  src/tests/test_installations.py
  src/tests/utils.py
Labels: bug, route: installations

#82 feat: Added a route for alert acknowledgement
  src/app/api/routes/alerts.py
  src/app/api/schemas.py
  src/tests/test_alerts.py
Labels: enhancement, route: alerts

#71 chore: Set up Sentry error catching
  requirements.txt
  src/app/config.py
  src/app/main.py
Labels: enhancement, topic: build

#83 Check login existence when updating user/access/device
  src/app/api/routes/accesses.py
  src/app/api/routes/alerts.py
  src/app/api/routes/devices.py
  src/app/api/routes/users.py
  src/app/api/schemas.py
  src/tests/test_accesses.py
  src/tests/test_devices.py
  src/tests/test_users.py
Labels: route: alerts, route: devices, route: users

#85 BUGFIX: Events route accesses as device
  src/app/api/routes/events.py
  src/tests/conftest.py
Labels: bug, high priority, route: events, route: login

#86 2 chars Bugfix: fix device route location in client
  client/pyroclient/client.py
Labels: bug, route: devices, topic: client

#74 test: Added unittests and typing verification for API client
  .github/workflows/client-main.yml
  client/.coveragerc
  client/mypy.ini
  client/pyroclient/client.py
  client/test/test_client.py
Labels: enhancement, topic: client

#89 feat: Added an end-to-end script for API route testing
  .github/workflows/main.yml
  scripts/api_e2e.py
  scripts/requirements.txt
Labels: enhancement, topic: build

#87 Qarnot bucket storage
  requirements.txt
  src/app/api/routes/media.py
  src/app/config.py
  src/app/services/bucket/baseBucketService.py
  src/app/services/bucket/dummyBucketService.py
  src/app/services/bucket/qarnotBucketService.py
  src/app/services/services.py
  src/tests/test_media.py
Labels: enhancement, high priority, route: media, topic: build

#93 feat: Added alert acknowledgement option in client
  client/pyroclient/client.py
  client/test/test_client.py
  scripts/api_e2e.py
Labels: high priority, route: alerts, topic: client

#95 fix: Fixed Qarnot image upload and image retrieval
  src/app/api/routes/media.py
  src/app/services/bucket/baseBucketService.py
  src/app/services/bucket/dummyBucketService.py
  src/app/services/bucket/qarnotBucketService.py
Labels: high priority, route: media

#98 feat: Upgraded bucket file naming with SHA256
  src/app/api/routes/media.py
  src/app/api/security.py
  src/tests/test_security.py
Labels: enhancement, route: media, topic: services

#100 fix: Fixed media content upload to bucket
  .github/workflows/client-main.yml
  .github/workflows/main.yml
  src/app/api/routes/media.py
  src/app/services/__init__.py
  src/app/services/bucket/qarnotBucketService.py
  src/app/services/utils.py
  src/tests/test_services.py
Labels: bug, high priority, route: media, topic: services

#99 feat: Added admin scopes on tables to protect
  src/app/api/routes/alerts.py
  src/app/api/routes/events.py
  src/app/api/routes/installations.py
  src/app/api/routes/media.py
  src/app/api/routes/sites.py
Labels: enhancement, high priority, route: alerts, route: events, route: installations, route: media, route: sites

#102 feat: Added integrity check and optimized bucket interactions
  .github/workflows/client-main.yml
  .github/workflows/main.yml
  README.md
  client/pyroclient/client.py
  docker-compose.yml
  src/app/api/routes/media.py
  src/app/config.py
  src/app/services/bucket/__init__.py
  src/app/services/bucket/baseBucketService.py
  src/app/services/bucket/dummyBucketService.py
  src/app/services/bucket/qarnot.py
  src/app/services/bucket/qarnotBucketService.py
  src/app/services/services.py
  src/app/services/utils.py
  src/tests/test_media.py
  src/tests/test_services.py
Labels: documentation, enhancement, route: media, topic: client, topic: services

#105 chore: Fixed release publishing and updated versions
  .github/workflows/client-upload.yaml
  client/pyroclient/version.py
  src/app/config.py
Labels: topic: build, topic: client
