Repository pyronear/pyro-api, pull requests merged in 2021-04, with the labels that each got.

#148 Add function to check for group
  src/app/api/crud/__init__.py
  src/app/api/crud/accesses.py
  src/app/api/crud/authorizations.py
  src/app/api/crud/groups.py
  src/app/api/deps.py
  src/app/api/routes/accesses.py
  src/app/api/routes/alerts.py
  src/app/api/routes/devices.py
  src/app/api/routes/events.py
  src/app/api/routes/groups.py
  src/app/api/routes/installations.py
  src/app/api/routes/media.py
  src/app/api/routes/sites.py
  src/app/api/routes/users.py
  src/app/db/init_db.py
  src/tests/crud/test_authorizations.py
  src/tests/crud/test_group_resolution.py
Labels: enhancement, route: groups

#149 feat: Added event existence check upon alert creation
  client/pyroclient/client.py
  src/app/api/crud/alerts.py
  src/app/api/routes/alerts.py
  src/app/api/schemas.py
  src/app/config.py
  src/tests/routes/test_alerts.py
  src/tests/utils.py
Labels: high priority, route: alerts, route: events

#152 feat: Added webhook system and alert notifications to third-parties
  src/app/api/crud/__init__.py
  src/app/api/crud/webhooks.py
  src/app/api/external.py
  src/app/api/routes/alerts.py
  src/app/api/routes/webhooks.py
  src/app/api/schemas.py
  src/app/db/tables.py
  src/app/main.py
  src/tests/test_external.py
Labels: high priority, route: alerts

#153 refactor: Make group_id mandatory
  scripts/api_e2e.py
  src/app/api/crud/accesses.py
  src/app/api/routes/devices.py
  src/app/api/routes/users.py
  src/app/api/schemas.py
  src/app/db/init_db.py
  src/app/db/tables.py
  src/tests/routes/test_accesses.py
  src/tests/routes/test_alerts.py
  src/tests/routes/test_devices.py
  src/tests/routes/test_events.py
  src/tests/routes/test_groups.py
  src/tests/routes/test_installations.py
  src/tests/routes/test_login.py
  src/tests/routes/test_media.py
  src/tests/routes/test_sites.py
  src/tests/routes/test_users.py
  src/tests/test_deps.py
Labels: enhancement, route: accesses, route: devices, route: groups, route: users

#151 feat: Added software_hash for device update check
  client/pyroclient/client.py
  src/app/api/routes/devices.py
  src/app/api/schemas.py
  src/app/db/tables.py
  src/tests/routes/test_alerts.py
  src/tests/routes/test_devices.py
  src/tests/routes/test_installations.py
  src/tests/routes/test_media.py
Labels: high priority, route: devices, topic: client

#155 chore: Added a job to push docker to DockerHub
  .github/workflows/docker-publish.yaml
Labels: topic: build

#157 Client: Add azimuth in alerts functions
  client/pyroclient/client.py
  src/app/api/schemas.py
Labels: route: alerts, topic: client

#156 Refactor: Use SQLAlchemy models instead of Table Declaration
  src/app/api/routes/users.py
  src/app/db/__init__.py
  src/app/db/models.py
  src/app/db/session.py
  src/app/db/tables.py
  src/app/main.py
Labels: enhancement

#159 chore: Upgraded Python to 3.7
  README.md
  client/.conda/meta.yaml
  client/README.md
  client/docs/source/installing.rst
  client/setup.py
Labels: bug, documentation, high priority, topic: build

#160 fix: Revert "Refactor: Use SQLAlchemy models instead of Table Declaration"
  src/app/api/routes/users.py
  src/app/db/__init__.py
  src/app/db/models.py
  src/app/db/session.py
  src/app/db/tables.py
  src/app/main.py
Labels: bug, high priority, topic: build

#161 fix: Fixed Heroku runtime and SQLAlchemy specs
  runtime.txt
  src/app/config.py
Labels: bug, high priority, topic: build

#162 Refactor: Use SQLAlchemy models instead of Table Declaration (after fix)
  src/app/api/routes/users.py
  src/app/db/__init__.py
  src/app/db/models.py
  src/app/db/session.py
  src/app/db/tables.py
  src/app/main.py
Labels: enhancement

#164 feat: add default group_id
  src/app/api/routes/sites.py
  src/tests/routes/test_sites.py
Labels: route: sites

#165 [Sites] Fix noAlertSite route creation with default group_id
  src/app/api/routes/sites.py
  src/tests/routes/test_sites.py
Labels: bug, route: sites

#166 [groups] Add group logic to fetching routes
  src/app/api/routes/alerts.py
  src/app/api/routes/devices.py
  src/app/api/routes/events.py
  src/app/api/routes/installations.py
  src/app/api/routes/media.py
  src/app/api/routes/sites.py
  src/app/api/routes/users.py
  src/app/db/__init__.py
  src/app/db/models.py
  src/app/db/session.py
  src/tests/db_utils.py
  src/tests/routes/test_alerts.py
  src/tests/routes/test_devices.py
  src/tests/routes/test_events.py
  src/tests/routes/test_groups.py
  src/tests/routes/test_installations.py
  src/tests/routes/test_media.py
  src/tests/routes/test_sites.py
  src/tests/routes/test_users.py
Labels: bug, enhancement, route: groups
