Repository pyronear/pyro-api, pull requests merged in 2021-03, with the labels that each got.

#115 docs: Added detailed examples in client documentation
  .gitignore
  client/pyroclient/client.py
Labels: documentation, topic: client

#116 feat: Added route to fetch past fires
  client/pyroclient/client.py
  client/test/test_client.py
  src/app/api/crud/base.py
  src/app/api/routes/events.py
  src/tests/routes/test_events.py
Labels: documentation, route: events, topic: client

#122 feat: Added admin scopes to alert routes
  src/app/api/routes/alerts.py
Labels: enhancement, route: alerts

#121 feat: Added admin scopes to device routes
  src/app/api/routes/devices.py
Labels: enhancement, route: devices

#120 feat: Added admin scopes to installation routes
  src/app/api/routes/installations.py
Labels: enhancement, route: installations

#118 feat: Added proper scopes to media routes
  src/app/api/routes/media.py
  src/tests/routes/test_media.py
Labels: route: media

#104 Add security admin scope requirement on accesses routes
  src/app/api/routes/accesses.py
Labels: route: accesses

#113 Align devices update
  src/app/api/crud/accesses.py
  src/app/api/crud/base.py
  src/app/api/routes/devices.py
  src/tests/routes/test_devices.py
Labels: enhancement

#127 feat: Added is_trustworthy boolean field to installation table
  src/app/api/schemas.py
  src/app/db/tables.py
  src/tests/routes/test_installations.py
Labels: enhancement, route: installations

#129 feat: Added azimuth float field to alert table
  src/app/api/schemas.py
  src/app/db/tables.py
  src/tests/routes/test_alerts.py
Labels: enhancement, route: alerts

#130 feat: Added no_alert type to Sites
  src/app/api/routes/sites.py
  src/app/api/schemas.py
  src/app/db/tables.py
  src/tests/routes/test_sites.py
Labels: enhancement, route: sites

#133 [Client][Site] add no alert site in client
  client/pyroclient/client.py
Labels: route: sites, topic: client

#134 feat: Added angle_of_view to the device table
  src/app/api/schemas.py
  src/app/db/tables.py
  src/tests/conftest.py
  src/tests/routes/test_alerts.py
  src/tests/routes/test_devices.py
  src/tests/routes/test_media.py
  src/tests/test_deps.py
Labels: enhancement, route: devices

#135 fix: Fixed end-to-end script
  scripts/api_e2e.py
Labels: bug, enhancement

#112 Database migration with alembic
  CONTRIBUTING.md
  Dockerfile
  src/alembic.ini
  src/alembic/README.md
  src/alembic/env.py
  src/alembic/script.py.mako
  src/requirements-dev.txt
Labels: documentation, enhancement, help wanted, high priority

#138 test: Fixed unittests scoping issues
  src/app/api/deps.py
  src/app/api/routes/alerts.py
  src/app/api/routes/devices.py
  src/app/api/routes/installations.py
  src/app/api/routes/sites.py
  src/tests/conftest.py
  src/tests/db_utils.py
  src/tests/routes/test_accesses.py
  src/tests/routes/test_alerts.py
  src/tests/routes/test_devices.py
  src/tests/routes/test_events.py
  src/tests/routes/test_installations.py
  src/tests/routes/test_login.py
  src/tests/routes/test_media.py
  src/tests/routes/test_sites.py
  src/tests/routes/test_users.py
  src/tests/test_deps.py
  src/tests/test_security.py
Labels: enhancement, high priority

#141 refactor: Removed the "me" scope and replace it with "user"
  scripts/api_e2e.py
  src/app/api/deps.py
  src/app/api/routes/devices.py
  src/app/api/routes/users.py
  src/app/api/schemas.py
  src/app/db/tables.py
  src/tests/routes/test_accesses.py
  src/tests/routes/test_alerts.py
  src/tests/routes/test_devices.py
  src/tests/routes/test_installations.py
  src/tests/routes/test_login.py
  src/tests/routes/test_media.py
  src/tests/routes/test_users.py
Labels: enhancement, route: accesses, route: users

#142 refactored: Removed alert type field
  scripts/api_e2e.py
  src/app/api/routes/alerts.py
  src/app/api/schemas.py
  src/app/db/tables.py
  src/tests/routes/test_alerts.py
Labels: enhancement, route: alerts

#137 feat: add group object
  src/app/api/routes/groups.py
  src/app/api/routes/media.py
  src/app/api/schemas.py
  src/app/db/tables.py
  src/app/main.py
  src/tests/routes/test_alerts.py
  src/tests/routes/test_groups.py
Labels: enhancement, route: accesses, route: users

#143 refactor: Removed location fields from the installation table
  scripts/api_e2e.py
  src/app/api/schemas.py
  src/app/db/tables.py
  src/tests/routes/test_installations.py
Labels: enhancement, route: installations

#144 feat: Added group_id to access table
  scripts/api_e2e.py
  src/app/api/crud/accesses.py
  src/app/api/routes/login.py
  src/app/api/schemas.py
  src/app/db/init_db.py
  src/app/db/tables.py
  src/tests/routes/test_accesses.py
  src/tests/routes/test_alerts.py
  src/tests/routes/test_devices.py
  src/tests/routes/test_events.py
  src/tests/routes/test_groups.py
  src/tests/routes/test_installations.py
  src/tests/routes/test_login.py
  src/tests/routes/test_media.py
  src/tests/routes/test_sites.py
  src/tests/routes/test_users.py
  src/tests/test_deps.py
Labels: enhancement, route: accesses

#147 feat: add missing link between site and group
  client/pyroclient/client.py
  src/app/api/schemas.py
  src/app/db/tables.py
  src/tests/routes/test_sites.py
Labels: enhancement, route: groups, route: sites
