Repository pyronear/pyro-api, pull requests merged in 2022-10, with the labels that each got.

#218 chore: Fixed URL in conda recipe
  client/.conda/meta.yaml
Labels: type: bug, topic: build

#220 feat: Added support of alternative S3 storage
  .github/workflows/main.yml
  Makefile
  docker-compose-dev.yml
  docker-compose.yml
  nginx/nginx.conf
  pyproject.toml
  src/app/api/routes/media.py
  src/app/api/security.py
  src/app/config.py
  src/app/services/bucket/__init__.py
  src/app/services/bucket/qarnot.py
  src/app/services/bucket/s3.py
  src/tests/routes/test_media.py
Labels: type: enhancement, route: media, module: services, topic: ci, ext: tests, topic: docker

#219 refactor: Renamed yaw to azimuth
  src/app/api/routes/alerts.py
  src/app/api/schemas/alerts.py
  src/app/api/schemas/base.py
  src/app/api/schemas/devices.py
  src/app/db/models.py
  src/tests/crud/test_authorizations.py
  src/tests/crud/test_group_resolution.py
  src/tests/routes/test_alerts.py
  src/tests/routes/test_devices.py
  src/tests/routes/test_events.py
  src/tests/routes/test_groups.py
  src/tests/routes/test_installations.py
  src/tests/routes/test_media.py
  src/tests/test_deps.py
Labels: type: enhancement, route: devices, route: alerts, type: breaking change, ext: tests

#223 fix: Fixed arg naming for location updating
  client/pyroclient/client.py
Labels: type: bug, ext: client

#215 fix: Updated POST request structure to retrieve token
  client/pyroclient/client.py
  client/tests/test_client.py
  docker-compose-dev.yml
  docker-compose.yml
  scripts/api_e2e.py
Labels: type: bug, ext: client

#229 docs: Fixed Sentry DSN example
  README.md
Labels: topic: documentation, type: enhancement

#228 docs: Added table UML in the README
  README.md
Labels: topic: documentation, type: enhancement

#232 docs: fix link to CONTRIBUTING
  README.md
Labels: type: bug, topic: documentation

#233 docs: fix link to contributing in client/README.md
  client/README.md
Labels: type: bug, topic: documentation, ext: client

#234 docs: link to verify_labels in pr-labels workflow
  .github/workflows/pr-labels.yml
Labels: type: enhancement, topic: ci
