Repository pyronear/pyro-api, pull requests merged in 2023-07, with the labels that each got.

#265 feat: Adds possibility to specify secret key
  src/app/config.py
Labels: type: enhancement

#266 style: Bumps ruff & black, removes isort & pydocstyle
  .flake8
  .github/workflows/style.yml
  .pre-commit-config.yaml
  Makefile
  client/.conda/meta.yaml
  client/README.md
  client/docs/source/conf.py
  client/docs/source/installing.rst
  client/pyproject.toml
  client/pyroclient/client.py
  client/setup.py
  client/tests/conftest.py
  client/tests/test_client.py
  pyproject.toml
  scripts/api_e2e.py
  src/alembic/env.py
  src/app/api/crud/accesses.py
  src/app/api/crud/groups.py
  src/app/api/crud/webhooks.py
  src/app/api/deps.py
  src/app/api/endpoints/alerts.py
  src/app/api/endpoints/login.py
  src/app/api/endpoints/media.py
  src/app/api/endpoints/sites.py
  src/app/api/external.py
  src/app/config.py
  src/app/db/init_db.py
  src/app/services/utils.py
  src/tests/conftest.py
  src/tests/db_utils.py
  src/tests/routes/test_accesses.py
  src/tests/routes/test_alerts.py
  src/tests/routes/test_devices.py
  src/tests/routes/test_events.py
  src/tests/routes/test_groups.py
  src/tests/routes/test_installations.py
  src/tests/routes/test_login.py
  src/tests/routes/test_media.py
  src/tests/routes/test_sites.py
  src/tests/routes/test_users.py
  src/tests/routes/test_webhooks.py
  src/tests/test_deps.py
  src/tests/test_security.py
Labels: topic: documentation, topic: build, route: sites, route: media, route: alerts, route: accesses, route: login, ext: client, module: services, route: groups, route: webhooks, ext: tests, type: code quality, ext: client/tests, module: database, topic: security

#268 feat: add route to retrieve alerts for a given event
  client/pyroclient/client.py
  client/tests/test_client.py
  poetry.lock
  pyproject.toml
  src/app/api/endpoints/events.py
  src/tests/routes/test_events.py
Labels: topic: build, route: events, ext: client, ext: client/tests

#269 refactor: change alert relaxation from 5 to 30 minutes
  src/app/api/crud/alerts.py
  src/app/config.py
Labels: route: alerts
