Repository pyronear/pyro-api, pull requests merged in 2023-05, with the labels that each got.

#255 ci: Makes script job independent form tests
  .github/workflows/scripts.yml
Labels: type: bug

#251 chore: style tool versions
  .github/workflows/style.yml
  poetry.lock
  pyproject.toml
  src/app/api/external.py
  src/app/main.py
Labels: topic: build

#254 feat: Adds timeout to Python client requests
  client/pyroclient/client.py
  client/tests/test_client.py
Labels: ext: client, type: new feature, ext: client/tests

#256 chore: Removes requirements.txt to only consider poetry.lock
  .github/workflows/builds.yml
  .github/workflows/docs.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  src/app/requirements.txt
  src/requirements-dev.txt
Labels: topic: documentation, type: enhancement, topic: build

#258 chore: Updates version specifiers of fastapi & sentry
  poetry.lock
  pyproject.toml
Labels: type: enhancement, topic: build

#260 fix: Fixes media deletion route by checking bucket file existence
  src/app/api/endpoints/media.py
Labels: type: bug, route: media

#245 fix: authentication, alert payload and exception handling in api_e2e.py
  .github/workflows/scripts.yml
  scripts/api_e2e.py
  scripts/requirements.txt
Labels: type: bug, ext: scripts

#262 fix: Fixes the parsing of datetime
  .github/workflows/style.yml
  client/pyproject.toml
  pyproject.toml
  src/app/schemas/base.py
  src/app/schemas/devices.py
  src/app/schemas/events.py
  src/app/schemas/installations.py
  src/tests/routes/test_installations.py
Labels: type: bug, topic: build, ext: tests, module: schemas
