Repository pyronear/pyro-api, pull requests merged in 2023-10, with the labels that each got.

#287 Add support for a s3 bucket proxy
  README.md
  docker-compose.yml
  src/app/config.py
  src/app/services/bucket/s3.py
  src/app/services/services.py
Labels: ext: tests, type: new feature

#293 fix: replace using endpoint-url, not bucket-name
  src/app/services/bucket/s3.py
Labels: type: bug, module: services

#294 fix: Adds missing reference to the endpoint_url for the S3 proxy
  src/app/services/bucket/s3.py
Labels: type: bug

#296 test: Simplifies testing procedure by using unbinded Docker
  .github/labeler.yml
  .github/workflows/tests.yml
  .gitignore
  Makefile
  docker-compose.test.yml
  src/app/config.py
  src/tests/conftest.py
  src/tests/db_utils.py
Labels: type: enhancement, topic: ci, ext: tests, topic: docker

#297 chore: Bumps PG version to 15 to avoid deprecation
  .github/workflows/builds.yml
  .github/workflows/scripts.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  Makefile
  README.md
  docker-compose.test.yml
  docker-compose.yml
  scripts/api_e2e.py
  scripts/pg_extract.sh
  src/app/api/endpoints/alerts.py
Labels: topic: documentation, type: enhancement, route: alerts, topic: docker

#298 chore: Bumps Python to 3.9
  .github/workflows/builds.yml
  .github/workflows/docs.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
  Makefile
  poetry.lock
  pyproject.toml
  src/Dockerfile
  src/Dockerfile-dev
Labels: type: enhancement, topic: build, topic: docker

#267 feat: Adds localization column in the alerts table
  .github/workflows/style.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  client/pyroclient/client.py
  docker-compose.test.yml
  poetry.lock
  pyproject.toml
  scripts/api_e2e.py
  src/alembic/README.md
  src/alembic/env.py
  src/alembic/versions/92e49f7d80ae_add_localization_column_in_alert_table.py
  src/alembic/versions/cd701efe364f_db_init.py
  src/app/api/crud/authorizations.py
  src/app/db/__init__.py
  src/app/db/init.py
  src/app/main.py
  src/app/models/alert.py
  src/app/schemas/alerts.py
  src/app/schemas/base.py
  src/app/schemas/devices.py
  src/app/schemas/groups.py
  src/app/schemas/login.py
  src/app/schemas/sites.py
  src/app/schemas/webhooks.py
  src/tests/crud/test_authorizations.py
  src/tests/crud/test_group_resolution.py
  src/tests/routes/test_alerts.py
  src/tests/routes/test_devices.py
  src/tests/routes/test_events.py
Labels: topic: documentation, type: enhancement, topic: build, ext: client, type: new feature, topic: docker, module: database, module: schemas, module: models

#301 test: Speeds up tests & improves console output
  .github/workflows/tests.yml
  Makefile
  client/pyproject.toml
  poetry.lock
  pyproject.toml
  src/.coveragerc
  src/Dockerfile-dev
Labels: type: enhancement, topic: build, topic: docker

#303 ci: Adds autopush to dockerhub on commit
  .github/workflows/builds.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/push.yml
  client/.conda/meta.yaml
  pyproject.toml
Labels: topic: build, type: new feature

#244 feat: Improve dev experience by using local S3
  .github/workflows/tests.yml
  CONTRIBUTING.md
  Makefile
  docker-compose.test.yml
Labels: module: services, topic: ci, ext: tests, type: new feature, topic: docker

#305 ci: Adds CI job to deploy to dev server
  .github/workflows/push.yml
Labels: topic: ci, type: new feature, topic: docker
