Repository pyronear/pyro-api, pull requests merged in 2024-07, with the labels that each got.

#338 build(deps): bump requests & idna to security compliant versions
  poetry.lock
  pyproject.toml
Labels: topic: build, type: misc, dependencies

#339 build(deps): bump urllib3 from 1.26.18 to 1.26.19
  poetry.lock
Labels: topic: build, type: misc, dependencies

#344 style(src): fix type annotations
  src/app/crud/base.py
  src/app/db.py
Labels: type: misc, module: database, module: crud

#345 feat(storage): make S3 URL expiration customizable
  src/app/core/config.py
  src/app/services/storage.py
  src/tests/services/test_storage.py
Labels: type: improvement, module: services, module: core

#332 New Data Model : Add an Organization table
  .env.example
  .github/workflows/builds.yml
  CONTRIBUTING.md
  Makefile
  client/README.md
  client/docs/source/conf.py
  client/pyroclient/__init__.py
  client/pyroclient/client.py
  client/tests/conftest.py
  docker-compose.dev.yml
  docker-compose.yml
  scripts/test_e2e.py
  src/app/api/api_v1/endpoints/cameras.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/api/api_v1/endpoints/login.py
  src/app/api/api_v1/endpoints/organizations.py
  src/app/api/api_v1/endpoints/users.py
  src/app/api/api_v1/router.py
  src/app/api/dependencies.py
  src/app/core/config.py
  src/app/crud/__init__.py
  src/app/crud/base.py
  src/app/crud/crud_organization.py
  src/app/db.py
  src/app/models.py
  src/app/schemas/__init__.py
  src/app/schemas/cameras.py
  src/app/schemas/login.py
  src/app/schemas/organizations.py
  src/app/schemas/users.py
  src/migrations/versions/2024_06_17_1521-4265426f8438_create_stes_table.py
  src/tests/conftest.py
  src/tests/endpoints/test_cameras.py
  src/tests/endpoints/test_detections.py
  src/tests/endpoints/test_login.py
  src/tests/endpoints/test_organizations.py
  src/tests/endpoints/test_users.py
  src/tests/test_dependencies.py
Labels: topic: docs, topic: build, endpoint: users, endpoint: cameras, endpoint: detections, endpoint: login, ext: client, type: breaking change, ext: scripts, ext: tests, type: feat, topic: docker, ext: client/tests, module: database, module: schemas, module: models, module: core, module: crud

#348 docs(uml): add organization to DB UML
  .github/labeler.yml
  CONTRIBUTING.md
  scripts/dbdiagram.txt
Labels: topic: docs, topic: ci, ext: scripts, type: misc
