Repository pyronear/pyro-api, pull requests merged in 2024-08, with the labels that each got.

#360 ci(push): fix workflow syntax for push job
  .github/workflows/push.yml
Labels: type: fix, topic: ci

#340 feat(detections): add bboxes column to detection and a route to fetch unacknowledged ones
  Makefile
  client/pyroclient/client.py
  client/pyroclient/exceptions.py
  client/tests/test_client.py
  scripts/localstack/setup-s3.sh
  scripts/test_e2e.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/core/config.py
  src/app/crud/base.py
  src/app/models.py
  src/app/schemas/detections.py
  src/migrations/versions/2024_06_17_1521-4265426f8438_create_stes_table.py
  src/tests/conftest.py
  src/tests/endpoints/test_detections.py
Labels: endpoint: detections, ext: client, ext: scripts, ext: tests, type: feat, ext: client/tests, module: schemas, module: models, module: core, module: crud, endpoint: organizations

#361 build(deps): bump certify, multipart, sentry & setuptools
  poetry.lock
  pyproject.toml
Labels: topic: build, type: misc

#336 refactor(organization): switch to one-bucket-per-org policy
  .env.example
  CONTRIBUTING.md
  client/pyroclient/client.py
  docker-compose.dev.yml
  docker-compose.yml
  scripts/dbdiagram.txt
  scripts/localstack/setup-s3.sh
  src/app/api/api_v1/endpoints/detections.py
  src/app/api/api_v1/endpoints/organizations.py
  src/app/core/config.py
  src/app/db.py
  src/app/services/storage.py
  src/tests/conftest.py
  src/tests/services/test_storage.py
Labels: topic: docs, type: improvement, endpoint: detections, ext: client, module: services, ext: scripts, ext: tests, topic: docker, ext: client/tests, module: database, module: core, endpoint: organizations

#364 docs(contributing): update the DB UML
  CONTRIBUTING.md
  scripts/dbdiagram.txt
Labels: topic: docs, type: improvement, ext: scripts
