Repository pyronear/pyro-api, pull requests merged in 2025-01, with the labels that each got.

#401 docs(header): update copyright year range
  client/docs/source/conf.py
  client/pyroclient/client.py
  client/pyroclient/exceptions.py
  client/setup.py
  scripts/test_e2e.py
  src/app/api/api_v1/endpoints/cameras.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/api/api_v1/endpoints/login.py
  src/app/api/api_v1/endpoints/organizations.py
  src/app/api/api_v1/endpoints/users.py
  src/app/api/api_v1/endpoints/webhooks.py
  src/app/api/api_v1/router.py
  src/app/api/dependencies.py
  src/app/core/config.py
  src/app/core/security.py
  src/app/crud/base.py
  src/app/crud/crud_camera.py
  src/app/crud/crud_detection.py
  src/app/crud/crud_organization.py
  src/app/crud/crud_user.py
  src/app/crud/crud_webhook.py
  src/app/db.py
  src/app/main.py
  src/app/models.py
  src/app/schemas/base.py
  src/app/schemas/cameras.py
  src/app/schemas/detections.py
  src/app/schemas/login.py
  src/app/schemas/organizations.py
  src/app/schemas/users.py
  src/app/schemas/webhooks.py
  src/app/services/storage.py
  src/app/services/telegram.py
  src/app/services/telemetry.py
  src/migrations/env.py
Labels: topic: build, endpoint: users, endpoint: cameras, endpoint: detections, endpoint: login, ext: client, module: services, endpoint: webhooks, ext: scripts, type: misc, topic: migration, module: database, module: schemas, module: models, module: core, module: crud, endpoint: organizations

#400 docs(readme): fix the dockerhub ref in badge
  README.md
Labels: topic: docs, type: misc

#402 build(docker): update CI and docker to pythono 3.11 using uv
  .github/workflows/builds.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/pull_requests.yml
  .github/workflows/push.yml
  .github/workflows/scripts.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/Dockerfile
Labels: type: improvement, topic: build, topic: style, topic: docker

#403 fix(config): make support email optional
  src/app/core/config.py
Labels: type: fix, module: core

#407 fix(storage): make storage robust to edge case on region selection
  .github/dependabot.yml
  scripts/test_e2e.py
  src/app/services/storage.py
Labels: type: improvement, module: services, topic: ci, ext: scripts, topic: docker

#405 feat(sequences): create a table for easy detection aggregation
  .github/labeler.yml
  scripts/test_e2e.py
  src/app/api/api_v1/endpoints/detections.py
  src/app/api/api_v1/endpoints/sequences.py
  src/app/api/api_v1/router.py
  src/app/api/dependencies.py
  src/app/core/config.py
  src/app/crud/__init__.py
  src/app/crud/base.py
  src/app/crud/crud_sequence.py
  src/app/models.py
  src/app/schemas/__init__.py
  src/app/schemas/sequences.py
  src/tests/conftest.py
  src/tests/endpoints/test_detections.py
  src/tests/endpoints/test_sequences.py
Labels: endpoint: detections, topic: ci, ext: scripts, ext: tests, type: feat, module: schemas, module: models, module: core, module: crud

#414 fix(detections): allow azimuth=0 for the detection table
  src/app/api/api_v1/endpoints/detections.py
  src/app/schemas/detections.py
  src/tests/endpoints/test_detections.py
Labels: type: fix, endpoint: detections, module: schemas

#416 feat(detections): restrict webhook and telegram to sequence creation
  src/app/api/api_v1/endpoints/detections.py
Labels: type: improvement, endpoint: detections

#417 docs(contributing): update table description and workflow
  CONTRIBUTING.md
Labels: topic: docs, type: misc

#421 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: topic: docs, type: improvement
