Repository pyronear/pyro-api, pull requests merged in 2025-06, with the labels that each got.

#476 refactor(client): pass down query param from client
  client/pyroclient/client.py
Labels: type: improvement, ext: client

#478 Rs/add simple slack notification
  docker-compose.dev.yml
  src/app/api/api_v1/endpoints/detections.py
  src/app/api/api_v1/endpoints/organizations.py
  src/app/crud/crud_organization.py
  src/app/models.py
  src/app/schemas/organizations.py
  src/app/services/slack.py
  src/tests/conftest.py
  src/tests/endpoints/test_organizations.py
  src/tests/services/test_slack.py
Labels: topic: build, endpoint: detections, module: services, ext: tests, topic: docker, module: schemas, module: models, module: core, endpoint: organizations

#483 feat(sequences): add limit and desc params in fetch_sequence_detections
  client/pyroclient/client.py
  scripts/test_e2e.py
  src/app/api/api_v1/endpoints/sequences.py
Labels: ext: client, ext: scripts, type: feat, endpoint: sequences
